<div class="main">
    <div class="ui">
        <input type="button" value="{{tickService.isRunning?'Stop':'Start'}}" (click)="tickService.isRunning?tickService.stop():tickService.start()"><br>
        <input type="checkbox" [(ngModel)]="showGenerations">show Generations<br>
        <input type="checkbox" [(ngModel)]="simulation.showHallOfFame">show HallOfFame<br>
        <input type="checkbox" [(ngModel)]="simulation.autoRunNextGeneration">autoRunNextGeneration<br>
        <input type="checkbox" [(ngModel)]="simulation.useHallOfFameAsSource">useHallOfFameAsSource<br>
        <br>
        <input type="checkbox" [(ngModel)]="simulation.bodyEnabled">Die when hit body<br>
        
        <input type="number" [(ngModel)]="tickService.loopsPerTick"> loopsPerTick<br>
        <input type="number" [(ngModel)]="tickService.speed">FPS<br>
        <input type="number" [(ngModel)]="configService.mutationRate">mutationRate<br>
        <app-neuralNetwork class="network-info" [network]="inspectedGame?inspectedGame.snake.brain:null"></app-neuralNetwork>
    </div>
    <div class="simulation">
        <div class="info">Generation: {{simulation.currentGeneration.generationNumber}}</div>
        <div class="game-view-container" *ngIf="showGenerations">
                <div *ngFor="let game of simulation.currentGeneration.games;let i = index" 
                        class="game-view" 
                        [style.width]="game.width*game.tileSize+'px'" 
                        [style.height]="game.height*game.tileSize+20+'px'"
                        [class.finished]="!game.isRunning"
                        [class.good]="game.isGood"
                        [class.inspected]="game==inspectedGame"
                        (click)="inspectedGame=game">
                    <div class="score">({{i}}) {{game.snake.bodyParts.length}} | {{game.snake.ticks}}</div> 
                    <app-game-bg [width]="game.width" [height]="game.height" [tileSize]="game.tileSize" class="game-layer"></app-game-bg>
                    <app-game-fg [width]="game.width" [height]="game.height" [tileSize]="game.tileSize" class="game-layer"
                        [snake]="game.snake" [foodPos]="game.foodPos">
                    </app-game-fg>
                </div>
        </div>
    </div>
</div>
<div class="generations-info">
    <app-generations-info [statistic]="simulation.statistics"></app-generations-info>
</div>
