:host {
    display: block;
}

.main {
    display: flex;
    width:100%;
    height: 550px;
}

.generations-info {
    width:100%;
    height:200px;
}

.ui {
    width:400px;
}

.network-info {
    width:360px;
    height:320px;
}

.simulation {
    width:calc(100% - 400px);
    background: black;
}


.info {
    position: relative;
    padding:2px;
    width:calc(100% - 400px);
    height:20px;
    background: rgba(50,50,50,.5);
    color:white;
}

.game-view-container {
    position: relative;
}


.game-view{
    position: relative;
    display: inline-block;
    margin:2px;
    transition: .2s all linear;
    box-sizing:content-box;
    border:2px solid rgba(0,0,0,0);

}

.game-view.finished {
    filter: grayscale(1);
}

.game-view.good {
    filter:grayscale(0) hue-rotate(180deg);
}


.game-view.inspected {
    border:2px solid yellow;
}

.game-layer{
    position: absolute;
    top:20px;
}

.score {
    position: absolute;
    padding:2px;
    width:100%;
    height:20px;
    background: rgba(50,50,50,.5);
    color:white;
}

